.img_container img{
    width: 35vw;
}

.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0 ;
}

body{
    margin-right: 5%;
    margin-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    height: 55px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F4CE14;
    border-radius: 10px;
}

ul{
    margin: 0;
    padding: 0;
    width: 80%;
    height: 100%;
    display: flex;
    list-style: none;
    font-size: 19px;
    font-weight: bold;
    justify-content: space-around;
}

li{
    margin: 0.5% 0;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover{
    padding: 1%;
    background-color: rgba(73, 94, 87, 1);
    border-radius: 10px;
    animation: liAnim 500ms ease-in-out;
}

li:not(:hover) {
    padding: 1%;
    background-color: #F4CE14;
    border-radius: 10px;
    animation: liAnimRev 500ms ease-in-out;
}

@keyframes liAnim{
    from {
        background-color: rgba(73, 94, 87, 0);
    }
    
    to {
        background-color: rgba(73, 94, 87, 1);

    }
}

@keyframes liAnimRev{
    from {
        background-color: rgba(73, 94, 87, 1);
    }
    
    to {
        background-color: #F4CE14;
    }
}

nav a {
    text-decoration: none;
    color: white;
}

.second_sect a{
    color: #495E57;
    text-decoration: none;
}

.first_sect {
    margin: 3vh 0 0;

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative; 
    color: white;
}

.first_sect article {
    position: relative; 
    z-index: 1; 
}

.first_sect h1 {
    margin: 0px;
    padding: 1% 0 0 2%;
    font-size: 36px;
}

.first_sect h1::after {
    content: "New !";
    text-align: center;
    padding: 1%;
    font-size: 24px;
    color: rgba(244, 206, 20, 0.8);
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    animation: myanim 0.5s infinite ease-in-out alternate;
}

@keyframes myanim {
    from {
        background-color: rgba(255, 0, 0, 0);
    }
    
    to {
        background-color: rgba(255, 0, 0, 0.5);
    }
}

.first_sect p{
    padding: 0 3%;
}

.first_sect::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/1200.jpg');
    background-position: center;
    background-size: cover;
    opacity: 1;
    border-radius: 10px; 
    z-index: -1; 
    filter: brightness(50%);
}

.second_sect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.second_sect article {
    margin: 0 7px;
    min-width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.second_sect img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}


.artc_txt{
    background-color: #f4cf145f;
    border-radius: 10px;
}

.artc_txt:hover{
    box-shadow: 5px 5px 25px #495E57;
}

.second_sect h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
    background-color:#495E57;
    border-radius: 10px;
    font-size: 32px;
    color: white;
}

.second_sect p{
    margin-top: 7px; 
    margin-bottom: 0;
    padding: 0 3% 1%;
    transition: all 500ms ease-in;
}

.artc_txt h4{
    margin-top: 1%;
    margin-bottom: 0; 
    padding: 1% 3% 2%;
    text-align: center;
    background-color: #F4CE14;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.artc_txt h4:hover{
    border: 2px solid #495E57;
}

#opTime{
    margin: 3%;
    font-weight: 500;
}

footer {
    margin: 3% 0;
    display: flex;
}

footer img {
    padding: 1%;
    width: 50px;
    height: 88px;
    border-top: 3px solid #495E57;
    border-bottom: 3px solid #495E57;
    border-right: 3px solid #495E57;
    border-left: 3px solid #495E57;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer label{
    margin-top: 0;
    margin-left: 40vw;
    text-align: end;
    border-top: 3px solid #495E57;
    font-size: 15px;
    font-weight: 500;
    color: #495E57;
    flex: 10;
}
